# Python Einführung
## Unterüberschrift 
Dies ist ein Test Text *fett* *kursiv*
- Punkt 1
- Punkt 2

In [1]:
print ("Hello World")

Hello World

In [2]:
# Das ist ein Kommentar 
print("bla bla")

bla bla

In [4]:
print ("ja ja")

ja ja

In [5]:
name = "Lovelace"

In [6]:
print (name)

Lovelace

In [7]:
name

'Lovelace'

In [8]:
age = 73

In [9]:
size = 1.71123

In [10]:
knows_math = True
print(knows_math)
likes_slacking = False
print(likes_slacking)

True
False

In [11]:
5 + 5

10

In [12]:
age

73

In [13]:
age * 100

7300

In [14]:
name + name

'LovelaceLovelace'

name * 10

In [15]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [16]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [17]:
name + "10"

'Lovelace10'

In [18]:
size/age

0.02344150684931507

In [19]:
name + str(10)

'Lovelace10'

In [20]:
number_of_articles = "50"

In [23]:
int(number_of_articles) = int (number_of_articles)

SyntaxError: can't assign to function call (<ipython-input-23-1bfe45677f7f>, line 1)

In [22]:
type(number_of_articles)

str

## Funktionen und Methoden

In [30]:
len(name)

8

In [31]:
name.upper()

'LOVELACE'

In [32]:
print(name)

Lovelace

In [33]:
name_upper = name.upper()

In [34]:
print(name_upper)

LOVELACE

In [35]:
name.count("e")

2

In [37]:
name.replace("lace", " is everywhere")

'Love is everywhere'

## Listen und Dictionaries

In [38]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [39]:
names[2]

'Curie'

In [40]:
names[0]

'Lovelace'

In [41]:
names[-1]

'Hawking'

In [42]:
names[0;3]

SyntaxError: invalid syntax (<ipython-input-42-31e78e4090d8>, line 1)

In [43]:
names[0:3]

['Lovelace', 'Darwin', 'Curie']

In [44]:
names[2:]

['Curie', 'Hawking']

In [46]:
authors_and_birth_years = {"Lovelace": 1882, 
                           "Darwin": 1809, 
                           "Noeter": 1882}

In [47]:
authors_and_birth_years["Darwin"]

1809

In [48]:
authors_and_birth_years[1882]

KeyError: 1882

In [49]:
authors_and_birth_years["Darwin"]

1809

In [50]:
authors_and_birth_years["Noeter"]

1882

In [3]:
authors_and_birth_years = {"Lovelace": 1882, 
                           "Darwin": 1809, 
                           "Noeter": 1882}

In [4]:
authors_and_birth_years["Darwin"]

1809

In [19]:
for author in authors_and_birth_years.keys():
    print(author)

Lovelace
Darwin
Noeter

In [23]:
for author, birth_year in authors_and_birth_years.items():
    print(author + " was born in " + str(birth_year))

Lovelace was born in 1882
Darwin was born in 1809
Noeter was born in 1882

# for-Schleife

In [2]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [8]:
for name in names:
    print(name + " did awesome stuff")
    print ("------------------------------------------")

Lovelace did awesome stuff
------------------------------------------
Darwin did awesome stuff
------------------------------------------
Curie did awesome stuff
------------------------------------------
Hawking did awesome stuff
------------------------------------------

In [9]:
for name in names:
    print(name + " did awesome stuff")
print ("------------------------------------------")

Lovelace did awesome stuff
Darwin did awesome stuff
Curie did awesome stuff
Hawking did awesome stuff
------------------------------------------

# Bedingte Anweisungen (Conditionals)

In [13]:
temp = 25
if temp > 15:
    print("It's warm")

It's warm

In [14]:
25 > 15

True

In [18]:
temp = 40
if temp >= 25:
    print("It's hot")
elif temp > 15:
    print ("It's warm")
else:
    print("It's cold")

It's hot